.about-us {
  @include mobile-grid;

  padding: 60px $mobile-inline-padding 92px;
  text-align: left;
  background-color: $secondary-color;

  &__title {
    grid-column: 1 / -1;
    margin: 0;
    padding-bottom: 32px;
    color: $main-color;

    @include h2-text-style;
  }

  &__text {
    grid-column: 1 / -1;
    margin: 0;
    text-wrap: wrap;
    font-weight: 500;
    font-size: 23px;
    line-height: 140%;
    color: $main-color;
  }

  @media (min-width: $tablet-min-width) {
    padding: $pc-inline-padding $tablet-inline-padding 132px;

    @include tablet-grid;

    &__title {
      grid-column: 1 / 4;
    }

    &__text {
      grid-column: 4 / -1;
    }
  }

  @media (min-width: $pc-min-width) {
    padding: $pc-inline-padding $pc-inline-padding 164px;

    @include pc-grid;

    &__title {
      grid-column: 1 / 6;
    }

    &__text {
      grid-column: 6 / -1;
    }
  }
}
