.about-us {
  display: flex;
  flex-direction: column;
  padding: 60px $mobile-inline-padding 92px;
  text-align: left;
  background-color: $secondary-color;

  &__title {
    margin: 0;
    padding-bottom: 32px;
    color: $main-color;

    @include h2-text-style;
  }

  &__text {
    margin: 0;
    text-wrap: wrap;
    font-weight: 500;
    font-size: 23px;
    line-height: 140%;
    color: $main-color;
  }

  @media (min-width: $tablet-min-width) {
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(6, minmax(80px, 1fr));
    padding: $pc-inline-padding $tablet-inline-padding 132px;

    &__title {
      grid-column: 1 / 4;
    }

    &__text {
      grid-column: 4 / -1;
    }
  }

  @media (min-width: $pc-min-width) {
    grid-template-columns: repeat(12, minmax(63px, 1fr));
    padding: $pc-inline-padding $pc-inline-padding 164px;

    &__title {
      grid-column: 1 / 7;
    }

    &__text {
      grid-column: 7 / -1;
    }
  }
}
