.compare-bikes {
  background-color: $secondary-color;
  padding-inline: $mobile-inline-padding;
  padding-bottom: 92px;

  &__title {
    margin: 0;
    padding-bottom: 48px;
    color: $main-color;
    text-align: center;

    @include h2-text-style;
  }
}

.card {
  width: $mobile-card-width;
  padding-bottom: 40px;

  &__photo {
    width: $mobile-card-width;
    height: 228px;
    object-fit: contain;
    padding-bottom: 32px;
    transition: all $animation-time;

    &:hover {
      scale: 1.25;
    }
  }

  &__title {
    padding-bottom: 8px;

    @include card-title-price-style;
  }

  &__text {
    margin: 0;
    padding-bottom: 16px;

    @include paragraph-text-style;
  }

  &__price {
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
  }

  &:last-of-type {
    padding-bottom: 0;
  }
}

@media (min-width: $tablet-min-width) {
  .compare-bikes {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 120px;
  }

  .card {
    width: $tablet-card-width;
    padding-bottom: 48px;

    &__photo {
      width: $tablet-card-width;
      height: 316px;
      object-fit: contain;
    }
  }
}

@media (min-width: $pc-min-width) {
  .compare-bikes {
    padding-bottom: 144px;

    &__cards-block {
      display: flex;
      flex-direction: row;
      gap: 24px;
    }

    &__title {
      padding-bottom: 56px;
    }
  }

  .card {
    width: $pc-card-width;
    padding-bottom: 0;

    &__photo {
      width: $pc-card-width;
      height: 256px;
      object-fit: contain;
    }
  }
}
