.contacts {
  background-color: $secondary-color;
  padding-inline: $mobile-inline-padding;
  padding-bottom: 120px;

  &__first-title {
    margin: 0;
    padding-bottom: 48px;
    text-align: center;

    @include h2-text-style;
  }

  &__button {
    box-sizing: border-box;
    width: 100%;
    height: 56px;
    border-radius: 40px;
    font-family: Poppins, sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;

    &:hover {
      box-shadow: 1px 4px 16px 0 #e8e8f066;
    }
    &:active {
      box-shadow: 1px 4px 16px 0 #e8e8f0a3;
    }
  }

  &__input-block {
    padding-bottom: 48px;
  }

  &__titles {
    margin: 0;
    padding-bottom: 8px;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0;
  }

  &__phone-number {
    display: block;
    text-decoration: none;
    color: $main-color;
    font-weight: 500;
    padding-bottom: 24px;
    line-height: 140%;
    letter-spacing: 0;
    transition: all $animation-time;

    &:hover {
      color: $background-menu-color;
      scale: 0.99;
    }
  }

  &__info {
    margin: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0;
    padding-bottom: 24px;
    transition: all $animation-time;

    &:hover {
      color: $background-menu-color;
      scale: 0.99;
    }
  }

  &__input {
    width: 100%;
    box-sizing: border-box;
    padding-left: 16px;
    height: 48px;
    border-radius: 25px;
    margin-bottom: 16px;

    @include input-text-style;

    &::placeholder {
      @include input-text-style;
    }
  }

  &__textarea {
    height: 148px;
    box-sizing: border-box;
    border-radius: 16px;
    width: 100%;
    padding: 16px 14px;
    margin-bottom: 32px;

    @include input-text-style;

    &::placeholder {
      @include input-text-style;
    }
  }
}

a {
  color: inherit;
  text-decoration: none;
}

@media (min-width: $tablet-min-width) {
  .contacts {
    padding-inline: $tablet-inline-padding;
    padding-bottom: 102px;
    display: grid;
    grid-template-columns: repeat(6, 80px);
    column-gap: 24px;

    &__first-title {
      grid-column: 1 / -1;
      justify-self: center;
    }

    &__input-block {
      grid-column: 1 / 4;
      padding-bottom: 0;
    }

    &__info-block {
      grid-column: 4 / -1;
      align-self: start;
    }
  }
}

@media (min-width: $pc-min-width) {
  .contacts {
    padding-inline: $pc-inline-padding;
    padding-bottom: 164px;
    grid-template-columns: repeat(12, 63px);
    column-gap: 24px;

    &__first-title {
      font-size: 48px;
    }

    &__input-block {
      grid-column: 1 / 6;
    }

    &__info-block {
      grid-column: 8 / -1;
    }
  }
}
