.header {
  height: 100vh;
  background-image: url(../images/background__header.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 90% center;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
    color: $main-color;
    letter-spacing: -1.5px;
  }

  &__bottom {
    margin: 0;
    padding: 0 $mobile-inline-padding 88px;
    text-align: center;
  }
}

@media (min-width: $tablet-min-width) {
  .header {
    background-position: center center;

    &__title {
      margin: 0;
      font-size: 64px;
      line-height: 64px;
    }

    &__bottom {
      margin: 0;
      padding: 0 $tablet-inline-padding $tablet-header-title-v-pos;
    }
  }
}

@media (min-width: $pc-min-width) {
  .header {
    &__title {
      margin: 0;
      font-size: 80px;
      line-height: 80px;
    }
    &__bottom {
      margin: 0;
      padding: 0 $pc-inline-padding $pc-header-title-v-pos;
    }
  }
}
