.header__icons {
  display: flex;
  gap: $icons-min-size;

  @media (min-width: $tablet-min-width) {
    gap: $icons-max-size;
  }
}

.icon {
  display: block;
  width: $icons-min-size;
  height: $icons-min-size;
  background-size: cover;

  @media (min-width: $tablet-min-width) {
    width: $icons-max-size;
    height: $icons-max-size;
  }

  @media (min-width: $pc-min-width) {
    &-phone:hover::before {
      content: '+1 234 5555-55-55';
      position: absolute;
      top: 56px;
      right: 236px;
      color: $main-color;
      font-family: Poppins, sans-serif;
      font-weight: 700;
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 2px;
      text-align: right;
      vertical-align: middle;
    }
  }

  &-phone {
    background-image: url(../images/Icons/Icon-phone-call.png);
  }

  &-menu {
    background-image: url(../images/Icons/Icon-burger-menu.png);
  }

  &-close {
    background-image: url(../images/Icons/hrest.png);
    transform: translateY(-20%);
  }
}
