.menu {
  box-sizing: border-box;
  height: 100vh;
  width: 100%;
  background-color: $background-menu-color;
  text-transform: uppercase;
  font-family: Poppins, sans-serif;
  font-weight: 600;
  overflow: auto;
  transition: all $animation-time ease-in-out;
  transform: translateX(100%);

  &:target {
    transform: translateX(0);
  }

  &__top {
    position: sticky; // to keep cross always visible
    top: 0;
    z-index: 1;
    background-color: $background-menu-color;

    &-logo {
      // menu logo
      height: 38px;
    }
  }

  &__content {
    padding-inline: $mobile-inline-padding;
    padding-top: 24px;
  }

  &__phone-number {
    display: block;
    padding-bottom: 16px;
    font-size: 16px;
    line-height: 27px;
    color: $secondary-color;
    text-decoration: none;
  }

  &__call-to-order {
    display: block;
    width: fit-content;
    padding-bottom: 7px;
    border-bottom: 1px solid $secondary-color;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2px;
    color: $secondary-color;
    text-decoration: none;
  }
}

@media (min-width: $tablet-min-width) {
  .menu {
    font-weight: 700;

    &__top-logo {
      // menu logo
      height: 56px;
    }

    &__content {
      padding-inline: $tablet-inline-padding;
      padding-top: 8px;
    }
  }
}

@media (min-width: $pc-min-width) {
  .menu {
    &__content {
      padding-inline: $pc-inline-padding;
      padding-top: 24px;
    }
  }
}
