.top-bar {
  margin: 0;
  padding: 24px $mobile-inline-padding;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 38px;

  &__logo {
    // header logo
    display: flex;
    height: 38px;
  }
}

@media (min-width: $tablet-min-width) {
  .top-bar {
    padding: 36px $tablet-inline-padding;
    height: 56px;

    &__logo {
      height: 56px;
    }
  }
}

@media (min-width: $pc-min-width) {
  .top-bar {
    padding: 36px $pc-inline-padding;
  }
}
