@mixin h2-text-style {
  font-family: Poppins, sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: -1.5px;

  @media (min-width: 744px) {
    font-size: 48px;
  }

  @media (min-width: 1260px) {
    font-size: 64px;
  }
}

@mixin paragraph-text-style {
  font-family: Poppins, sans-serif;
  font-weight: 400;
  line-height: 140%;
  font-size: 16px;
  letter-spacing: 0;
}

@mixin card-title-price-style {
  margin: 0;
  font-family: Poppins, sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 140%;
  font-size: 24px;
  color: $main-color;
}

@mixin input-text-style {
  font-family: Poppins, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0;
}

@mixin reset-autofill {
  -webkit-box-shadow: 0 0 0 1000px $secondary-color inset;
  -webkit-text-fill-color: $main-color;
  caret-color: $main-color;
}

@mixin tablet-grid {
  grid-template-columns: repeat(6, 80px);
  column-gap: 24px;
  justify-content: center;
}

@mixin pc-grid {
  grid-template-columns: repeat(12, 63px);
  column-gap: 24px;
  justify-content: center;
}
