$main-color: #fff; // main text color
$secondary-color: #1d1d1d; // secondary text & background color
$background-menu-color: #c2c2c2;
$icons-min-size: 24px;
$icons-max-size: 32px;
$animation-time: 300ms;
$tablet-min-width: 744px;
$pc-min-width: 1260px;
$mobile-inline-padding: 20px;
$mobile-card-width: 280px;
$mobile-photo-size: 130px;

// #region tablet-variables
$tablet-inline-padding: 72px;
$tablet-header-title-v-pos: 130px;
$tablet-card-width: 392px;
$tablet-photo-height: 187px;

// #endregion

// #region pc-variables
$pc-inline-padding: 120px;
$pc-header-title-v-pos: 203px;
$pc-card-width: 324px;
$pc-photo-height: 321px;

// #endregion
